/* Desktop: 1440px */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Rubik;
  color: hsl(0, 0%, 100%);
}

body {
  background-color: hsl(226, 43%, 10%);
}

main {
  width: 100vw;
  height: 100vh;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
  /*   border: red solid 3px; */
  margin: 20% 10%;
}

.calendar p,
a {
  color: hsl(235, 45%, 61%);
}
/*------ user card styles* -------*/

.user {
  display: grid;
  grid-template-rows: 2.5fr 1.2fr;
  grid-row: span 2;
  /*  border: white solid 3px; */
  border-radius: 5%;
  background-color: hsl(235, 46%, 20%);
}

.personalInfo {
  display: grid;
  grid-template-rows: 0.5fr 0.2fr 1fr;
  border-radius: 5%;
  background-color: hsl(246, 80%, 60%);
}

.userImg {
  grid-row: span 1;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: hsl(0, 0%, 100%) 2px solid;
  margin: 7%;
}

.user h3 {
  font-size: 3rem;
  font-weight: 500;
  padding: 0 0 20% 7%;
  border: 0 0 5% 5%;
}

.user p {
  margin-left: 7%;
  padding: 0%;
}

.user ul {
  grid-row: 2 / span 1;
  list-style-type: none;
  background-color: hsl(235, 46%, 20%);
  padding: 5% 7%;
}

.user a {
  text-decoration: none;
  line-height: 2.5rem;
}

.user a:hover {
  color: white;
}

.user a:active {
  color: white;
}

/* ---- TIME-SCHEDULE STYLE ---- */
.timeschedule {
  display: grid;
  /*   border: orange solid 3px; */
  grid-template-rows: 1fr 1.2fr 1fr;
  border-radius: 5%;
  background-color: hsl(235, 46%, 20%);
}

.timeschedule span,
h2,
p {
  /*   border: blueviolet solid 3px;
 */
  padding: 5%;
}

/*  BACKGROUND IMAGES ON EACH TIMESCHUDULE CARD */

.calendarBlock {
  display: grid;
  grid-template-rows: 0.5fr 0.6fr;
  grid-row: 2 span;
  border-radius: 5% 5% 0 0;
  background-position: right 5px top;
  background-repeat: no-repeat;
}

.blockSpan {
  display: grid;
  grid-row: 2 / span 1;
  grid-template-columns: 1fr 1fr;
  background-color: hsl(235, 46%, 20%);
  border-radius: 5% 5% 0px 0px;
  padding: 5%;
  align-self: flex-end;
  /*  border: hsl(0, 0%, 100%) solid 3px; */
}

.workImg {
  background-image: url("../images/icon-work.svg");
  background-color: hsl(15, 100%, 70%);
}

.playImg {
  background-image: url("../images/icon-play.svg");
  background-color: hsl(195, 74%, 62%);
}

.studyImg {
  background-image: url("../images/icon-study.svg");
  background-color: hsl(348, 100%, 68%);
}

.exerciseImg {
  background-image: url("../images/icon-exercise.svg");
  background-color: hsl(145, 58%, 55%);
}

.socialImg {
  background-image: url("../images/icon-social.svg");
  background-color: hsl(264, 64%, 52%);
}

.selfCareImg {
  background-image: url("../images/icon-self-care.svg");
  background-color: hsl(43, 84%, 65%);
}

/*  HOW THE HELL DO I DO TO SHAPE THE BORDER RADIOUS HERE? */

.timeschedule h2 {
  grid-row: 3 / span 1;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 0% 5%;
}

.timeschedule p {
  grid-row: 4 / span 1;
  padding: 5% 5%;
  margin-bottom: 6%;
}

.settings {
  justify-self: flex-end;
}

.settings:hover {
  cursor: pointer;
}

/* ------ Mobile: 375px ------ */

@media (max-width: 375px) {
  .calendar {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(8, 0.7fr);
    grid-gap: 10px;
    /*   border: red solid 3px; */
    margin: 5% 8%;
    height: 100%;
  }

  /* Cards positioning */

  .work {
    grid-row: 2 / span 1;
  }

  .user {
    grid-row: span 1;
    /*  border: white solid 3px; */
  }

  .personalInfo {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 0.5fr 2fr;
  }

  .userImg {
    grid-column: span 1;
    grid-row: span 2;
    place-self: center center;
    margin: 4% 4% 4% 60%;
  }

  .user h3 {
    font-size: 1.5rem;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    font-weight: 200;
    padding: 0 0 0% 11%;
  }

  .user p {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    margin: 20% 0% 0% 11%;
    padding: 0%;
  }

  .user ul {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    grid-gap: 10%;
    /*  padding: 5% 7%; */
  }

  .user li {
    display: inline-block;
    /* grid-row: 2 / span 1;
    grid-column: 1 / span 1; */
    margin: 0 7%;
    /*  padding: 5% 7%; */
  }

  /* from This point is not currently working as expected */

  /* Here is the design for the background image and the settings menu of each card*/

  .timeschedule {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    grid-template-columns: 1fr 1fr;
    border-radius: 5%;
  }

  .calendarBlock {
    display: grid;
    grid-row: 1 / span 1;
    grid-column: span 2;
    grid-template-rows: 0.8fr 1fr;
    background-position: right 7% top;
  }

  .blockSpan {
    grid-row: 2 / span 1;
    grid-template-rows: 0.5fr 0.4fr;
    align-self: flex-end;
    /*  padding: 0% 7%; */
  }

  .settings {
    align-self: flex-end;
    /*  padding: 0% 7%; */
  }
  /* Here goes the design for the section assigned to hours and weeks, days or months */

  .timeschedule h2 {
    grid-row: 2 / span 1;
    justify-self: flex-start;
    font-size: 2rem;
    font-weight: 200;
    padding: 0% 7%;
  }

  .timeschedule p {
    grid-row: 2;
    justify-self: flex-end;
    /*  align-self: center; */
    padding: 0% 7%;
    margin: 7% 0 0 0;
  }

  .attribution {
    grid-row: 8;
  }
}
